/* Reset some default styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Main container styling */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

/* Main content area styling */
.main-content {
  display: flex;
  flex: 1; /* Takes up remaining height after Navbar */
}

/* Content area styling */
.content-area {
  flex: 1; /* Takes up remaining space */
  background-color: #f4f4f4;
  padding: 15px;
  box-sizing: border-box;
}
